---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import ConfettiCard from "../components/ConfettiCard.tsx";
---

<Layout title="Welcome to CRM">
  <main class="w-full max-w-screen-md p-4 mx-auto text-xl">
    <h1 class="mb-20 text-6xl font-bold text-center">Welcome to CRM</h1>
    <ul role="list" class="grid grid-cols-1 gap-8 p-0 md:grid-cols-2">
      <Card
        href="/dashboard"
        title="Dashboard"
        body="Vist your dashboard to view an overview of your data."
      />
      <Card
        href="/crud/clients"
        title="Clients"
        body="Check out your clients and their related information."
      />
      <Card
        href="/crud/orders"
        title="Orders"
        body="Check out your orders and their related information."
      />
      <ConfettiCard
        href=""
        title="Celebrate"
        body="ï¸Get excited about your an amazing way to start tracking your data!"
        client:idle
      />
    </ul>
  </main>
</Layout>
